.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  flex-wrap: wrap;
  /* margin-top: 10px; */
}

.navs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;

}

.textfield {
  margin-right: 5rem;
}
.icon {
  margin-left: 5rem;
}

.links{
  text-decoration: none;
  color: #f4f4f4;
  /* cursor: pointer; */
}

@media (max-width: 500px) {
  .display {
    display: block;
    width: 100%;
  }

  .textfield {
    margin-right: 0;
  }

  .flex{
    text-align: center;
  }

  .navs{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .size{
    margin-left: 10px;
  }
}
